extends layout

block scripts
  script(type='text/javascript' src='bower_components/spark/dist/spark.min.js')
  script(type='text/javascript').
    spark.login({accessToken: '#{SPARK_TOKEN}'});
    var photon;
    spark.getDevice('#{PHOTON_DEVICE_ID}', function(err, photon2) {
      photon = photon2;
      if (err) {
        console.log('An error occurred while getting device:', err);
      } else {
        console.log('Device name: ' + photon.name);
        updateDoorStatus(photon);
        photon.onEvent('doorStatusChg', function(data) {
          updateDoorStatus(photon);
        });
      }
    });

    function updateDoorStatus(photon) {
        document.getElementById("isopen").style.display = 'none';
        document.getElementById("isclosed").style.display = 'none';
        document.getElementById("neither").style.display = 'inline';
        photon.getVariable('isOpen', function(err, data) {
          if (err) {
            console.log('An error occurred while getting isOpen:', err);
          } else {
            setDoorOpen(data.result);
          }
        });
        photon.getVariable('isClosed', function(err, data) {
          if (err) {
            console.log('An error occurred while getting isClosed:', err);
          } else {
            setDoorClosed(data.result);
          }
        });
    }

    function setDoorOpen(isOpen) {
      if (isOpen == 1) {
        console.log('Garage door is open');
        document.getElementById("isopen").className = 'opened';
        document.getElementById("isopen").style.display = 'inline';
        document.getElementById("neither").style.display = 'none';
      } else {
        console.log('Garage door is not open');
        document.getElementById("isopen").className = 'notopened';
        document.getElementById("isopen").style.display = 'none';
      }
    }

    function setDoorClosed(isClosed) {
      if (isClosed == 1) {
        console.log('Garage door is closed');
        document.getElementById("isclosed").className = 'closed';
        document.getElementById("isclosed").style.display = 'inline';
        document.getElementById("neither").style.display = 'none';
      } else {
        console.log('Garage door is not closed');
        document.getElementById("isclosed").className = 'notclosed';
        document.getElementById("isclosed").style.display = 'none';
      }
    }

    function opendoor() {
      console.log('Opening garage door');
      photon.callFunction('controlDoor', 'open', function(err, data) {
        if (err) {
          console.log('An error occurred while opening garage door:', err);
        }
      });
    }

    function closedoor() {
      console.log('Closing garage door');
      photon.callFunction('controlDoor', 'close', function(err, data) {
        if (err) {
          console.log('An error occurred while closing garage door:', err);
        }
      });
    }

block content
  h1= title
  .notclosed#isclosed
    p Garage is door closed
    button#openDoor(onClick="opendoor();") Open Garage Door
  .notopened#isopen
    p Garage door is open  
    button#closeDoor(onClick="closedoor();") Close Garage Door
  .notclosed#neither
    p Garage door is not all the way opened or closed

