body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.closed {
  background-color: #008000;
  display: inline-block;
}
.notclosed {
  background-color: #f00;
  display: inline;
}
.opened {
  background-color: #f00;
  display: inline;
}
.notopened {
  background-color: #008000;
  display: inline;
}
button#openDoor,
button#closeDoor {
  cursor: pointer;
  padding: 5px 25px;
  background: #35b128;
  border: 1px solid #33842a;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.75);
  box-shadow: 0 0 4px rgba(0,0,0,0.75);
  color: #f3f3f3;
  font-size: 2.1em;
}
button#openDoor:hover,
button#openDoor:focus,
button#closeDoor:hover,
button#closeDoor:focus {
  background-color: #399630;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.75);
  box-shadow: 0 0 1px rgba(0,0,0,0.75);
}
