body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.closed
  background-color: green
  display: inline
.notclosed
  background-color: red
  display: inline
.opened
  background-color: red
  display: inline
.notopened
  background-color: green
  display: inline
